/* ==================  Font Part Start  ================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Noto Sans', sans-serif;

@font-face {
    src: url(../../font_google-sans/ProductSans-Regular.ttf);
    font-family: 'google-sans-regula', sans-serif;
}

/* ==================  Common Part Start  ================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

/* ==================  Common Part End  ================== */