@import '../mixins/mixins';
/* ============ Menu Fix Start ============= */
// .fix_nav{
//     position: fixed !important;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background: $hover;
//     box-shadow: 0 2px 35px rgba(24, 166, 185, 0.5);
//     z-index: 999999999999999;
//     padding: 0 0 0 0 !important;
//     animation: topTobottom .3s linear;
//     .logo{
//         a{
//             color: #fff !important;
//         }
//     }
//     .menu_part {
//         ul{
//             li{
//                 a{
//                     color: #fff !important;
//                     padding: 15px 10px;
//                     margin-right: 35px;
//                     &:hover{
//                         color: #fff !important;
//                         &::after{
//                             opacity: 100%;
//                             @include transition();
//                         }
//                     }
//                     &::after{
//                         background: #fff !important;
//                     }
//                     &.active{
//                         @include text(18px,600,#fff);
//                         &::after{
//                             opacity: 100%;
//                             @include transition();
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
/* ============ Menu Fix End ============= */


/* ============ BAck to top button css Start ============= */
.backtotop{
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $hover;
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    display: none;
}
.fix_backtotop{
    z-index: 9999;
}
/* ============ BAck to top button css End ============= */

