/* ============================== sponser Part Start =================================== */
#sponser{
    padding: 180px 0;
    .sponer_slider{
        padding: 50px 10px;
        background: #fafafa;
        border-radius: 70px;
    }
}
/* ============================== sponser Part End  =================================== */